//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(24) rem(36);
	font-weight: 700;
	background: #6fbe3e;
	text-align: center;
	border-radius: rem(40);
	line-height: 1.2;
	position: relative;
	top: 0;
	transition: top 0.3s ease 0s;
	&::after {
		content: "";
		position: absolute;
		bottom: rem(-10);
		left: rem(15);
		width: calc(100% - rem(30));
		height: rem(34);
		background: #6fbe3e;
		z-index: 1;
		pointer-events: none;
		filter: blur(rem(50));
	}
	@media (any-hover: hover) {
		&:hover {
		}
	}
}
