// cookie banner

.cookie {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    position: fixed;
}

.cookie-banner {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.cookie-banner-box {
    background-color: #fff;
    border-radius: 2.5rem;
    padding: 1rem 2.25rem;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    flex: 1 0 1;
    gap: 10px;

    @media (max-width: $tablet) {
        flex-direction: column;
        padding: 1rem 1.5rem;
    }

    @media (max-width: $mobileSmall) {
        padding: 1rem 0.75rem;
    }
}

.cookie-text {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;

    @media (max-width: $tablet) {
        font-size: 1.125rem;
    }

    @media (max-width: $mobile) {
        font-size: 1rem;
    }

    @media (max-width: $mobileSmall) {
        font-size: 0.875rem;
    }
}

.cookie-banner-text {
    color: #000;
}

.cookie-banner-btns {
    display: flex;
    align-items: center;
    gap: 5px;

    @media (max-width: $tablet) {
        justify-content: center;
    }
}

.cookie-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.2;
    position: relative;
    top: 0;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    text-wrap: nowrap;

    @media (any-hover: hover) {
        &:hover {
            top: rem(-10);
        }
    }
}

.cookie-btn-reject {
    background: #BD5252;
}

.cookie-btn-accept {
    background: #6fbe3e;
}

.cookie-btn-more {
    border: 1px solid #6fbe3e;
    color: #6fbe3e;
}

// coockie widget

.cookie-widget-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    padding-bottom: 15px;
    padding-left: 20px;
}

.cookie-widget {
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    color: #fff;

    svg {
        width: 31px;
        height: 31px;
        fill: currentColor;
        transition: fill 0.3s;
    }

    @media (any-hover: hover) {
        &:hover {
            color: #000;
        }
    }
}

.cookie-hidden {
    display: none;
}

.cookie-banner-show {
    opacity: 1;
}


// cookie popup

.popup-cookie-container {
    padding: 3.125rem 2.3125rem;

    @media (max-width: $mobile) {
        padding: rem(40) rem(20);
    }

    @media (max-width: $mobileSmall) {
        padding: rem(30) rem(20);
    }
}

.popup-cookie-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: $tablet) {
        font-size: 15px;
    }

    @media (max-width: $mobile) {
        gap: 10px;
    }

}

.popup-cookie-title {
    width: 100%;
    text-align: center;
}

.popup-cookie-about-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;

    @media (max-width: $tablet) {
        font-size: 0.875rem;
    }

    @media (max-width: $mobile) {
        font-size: 0.725rem;
    }

    @media (max-width: $mobileSmall) {
        font-size: 0.6rem;
    }
}

.popup-cookie-link {
    transition: color 0.3s ease 0s;
    color: #6fbe3e;

    @media (any-hover: hover) {
        &:hover {
            color: #fff;
        }
    }
}

.popup-cookie-checkbox-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.popup-cookie-btns {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.popup-cookie-btn {
    display: flex;
    flex: 1;
}

.popup-cookie-active-text {
    color: #6fbe3e;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;

    @media (max-width: $tablet) {
        font-size: 0.875rem;
    }

    @media (max-width: $mobile) {
        font-size: 0.725rem;
    }

    @media (max-width: $mobileSmall) {
        font-size: 0.6rem;
    }
}

.popup-cookie-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popup-cookie-toggle-button {
    position: relative;
    width: 50px;
    height: 25px;
}

.popup-cookie-toggle-input {
    display: none;
}

.popup-cookie-toggle-label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #8B8889;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;

    &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 19px;
        height: 19px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s;
    }
}

.popup-cookie-toggle-input:checked+.popup-cookie-toggle-label {
    background-color: #6fbe3e;
}

.popup-cookie-toggle-input:checked+.popup-cookie-toggle-label::after {
    transform: translateX(25px);
}