.docs {
    width: 100%;
    min-height: 100vh;

    &__container {
        padding-top: rem(190);
        padding-bottom: rem(40);

        display: flex;
        flex-direction: column;
        gap: rem(20);

        @media (max-width: $tablet) {
            padding-top: rem(15);
        }

        @media (max-width: $mobile) {
			gap: rem(10);
		}
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }

    
    &__title {
        font-weight: 600;
        line-height: normal;
        text-align: center;
        color: #6fbe3e;

        font-size: rem(22);
        
        @media (max-width: $mobile) {
			font-size: rem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
    }

    &__sub-title {
        line-height: normal;
        font-weight: 600;
        color: #6fbe3e;
        font-size: rem(22);
        
        @media (max-width: $mobile) {
			font-size: rem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
    }

    &__text {
        line-height: normal;
        font-size: rem(20);
        text-align: justify;

        &_bold {
            font-weight: 600;
        }

        &_green {
            color: #6fbe3e;
        }
		
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(16);
		}
    }

    &__link {
        color: #6fbe3e;
        transition: color 0.3s ease 0s;
        cursor: pointer;
        font-weight: 600;

        @media (any-hover: hover) {
			&:hover {
				color: #ffffff;
			}
		}
    }

    &__list {
        
        &_item {
            position: relative;
            padding-left: 30px;
          
          
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 8px;
                width: 10px;
                height: 10px;
                background-color: #6fbe3e; 
                border-radius: 50%; 
            }
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        table-layout: fixed;

        font-size: rem(20);
        line-height: normal;

		
		@media (max-width: $mobile) {
			font-size: rem(14);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(12);
		}
          
        th, td {
            border: 1px solid #ddd;
            padding: rem(20);
            text-align: center;
            overflow: hidden;

            @media (max-width: $mobile) {
                padding: rem(14);
            }
            @media (max-width: $mobileSmall) {
                padding: rem(12);
            }
        }
          
        thead {
            th {
                font-weight: 600;
                padding: rem(20);
            }

            th:first-child {
                text-align: left;
            }
        }

        tbody {
            td:first-child {
                font-weight: 600;
                text-align: left;
            }
        }
          
    }

}