.faq {
    min-height: 100vh;
    width: 100%;

    &__container {
        width: 100%;
        max-width: rem(1800);
        padding-top: rem(190);
        padding-bottom: rem(40);
        box-sizing: border-box;

        @media (max-width: $tablet) {
            padding-top: rem(15);
        }
    }

    &__wrapper {
        display: none;
        width: 100%;
        gap: rem(20);

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__left {
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;

        @media (max-width: $tablet) {
            flex: 1;
            max-width: 100%;
        }
    }

    &__right {
        flex: 1;
        width: 100%;
    }
}

.faq-menu {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.06);
    border: rem(1) solid #6fbe3e;
    border-radius: rem(33);
    padding: rem(30);
    gap: rem(15);
    width: 100%;

    &__title {
        position: relative;
        color:#fff;
        transition: color 0.3s ease;
        font-weight: 600;
        font-size: rem(22);
        padding-right: rem(40);
        cursor: pointer;

        &:hover {
            color: #6fbe3e;

            &::after {
               border-color: #6fbe3e;
            }
        }


        @media (max-width: $mobile) {
			font-size: rem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}

    }

    &__arrow {
        position: relative;
        padding-right: rem(20);

        &::after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border: solid #ffffff;
            border-width: 3.5px 3.5px 0 0;
            transform: rotate(-45deg);
            transition: transform 0.3s ease;
            position: absolute;
            right: 3px;
            top: calc(50% - 2px);
            transform-origin: center;
            transition: border-color, transform 0.3s ease;
        }

        &_active {
            &::after {
                transform: rotate(-225deg);
            }
        }
    }

    &__list {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        padding-left: rem(10);
        margin-top: rem(10);
        display: flex;
        flex-direction: column;
        gap: rem(10);
        padding-bottom: 0;

        &_active {
            max-height: 800px;
            padding-bottom: 5px;
        }
    }

    &__list-item {
        cursor: pointer;
        color: #fff;
        transition: color 0.3s ease;
        
        font-size: rem(20);
		
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}


        &:hover {
            color: #6fbe3e;

            &::after {
                border-color: #6fbe3e;
             }
        }
    }

    &__sub-list {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        flex-direction: column;
        gap: rem(10);
        padding-bottom: 0;
        padding-top: 0;
        padding-left: rem(10);

        &_active {
            max-height: 800px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
    }

    &__sub-list-item {
        cursor: pointer;
        color: #fff;
        transition: color 0.3s ease;
        
        font-size: rem(20);
		
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}


        &:hover {
            color: #6fbe3e;

            &::after {
                border-color: #6fbe3e;
             }
        }
    }

    &__sub-child-list {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        flex-direction: column;
        gap: rem(10);
        padding-bottom: 0;
        padding-left: rem(10);

        &_active {
            max-height: 800px;
        }
    }

    &__sub-child-list-item {
        cursor: pointer;
        color: #fff;
        transition: color 0.3s ease;
        
        font-size: rem(20);
		
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}


        &:hover {
            color: #6fbe3e;

            &::after {
                border-color: #6fbe3e;
             }
        }
    }

    &__list-link.active {
        color: #6fbe3e;
    }
}

.faq-right {
    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(20);
    }

    &__title {
        font-weight: 600;
        font-size: rem(24);
        color: #6fbe3e;
        text-align: justify;

        @media (max-width: $mobile) {
			font-size: rem(22);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(20);
		}
    }

    &__text {
        font-size: rem(20);
        line-height: normal;
        text-align: justify;
        
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }

        a {
            transition: color 0.3s ease 0s;
            color: #6fbe3e;
            @media (any-hover: hover) {
                &:hover {
                    color: #fff;
                }
            }
        }

        ul {
            li {
                position: relative;
                padding-left: 30px;
            
            
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;  
                    top: 8px;
                    width: 10px;
                    height: 10px;
                    background-color: #6fbe3e; 
                    border-radius: 50%; 
                }
            }       
        }

    ol {
        counter-reset: custom-counter;

        li {
            position: relative;
            padding-left: 30px;
            list-style: none;
            counter-increment: custom-counter;

            &::before {
                content: counter(custom-counter) ".";
                position: absolute;
                left: 0;
                top: 0;
                color: #6fbe3e; // Твой цвет цифры
                font-weight: bold;
            }
        }
    }
		
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}

    }
}

.spinner {
    display: none;
    width: 100%;
    justify-content: center;
    
    &__container {
        display: flex;
        justify-content: center;
    }

    &__spin  {
        border: 6px solid #f3f3f3;
        border-top: 6px solid #6fbe3e; 
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1.5s linear infinite;
      }

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.placeholder {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(10);
    text-align: center;


    &__title {
        font-size: rem(22);

        @media (max-width: $mobile) {
			font-size: rem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
    }
    &__text {
        font-size: rem(18);
	
		@media (max-width: $mobile) {
			font-size: rem(16);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(16);
		}
    }
}

.shown {
    display: flex;
}