// .footer {
// 	position: relative;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		background: url("@img/bgs/footer.png") 50% 0 / cover no-repeat;
// 		mix-blend-mode: lighten;
// 		z-index: -1;
// 		height: 100%;
// 	}
// 	&__container {
// 	}
// 	&__wrapper {
// 		@media (min-width: $tablet) {
// 			gap: rem(20);
// 		}
// 		padding: rem(60) rem(0);
// 		display: flex;
// 		align-items: flex-start;
// 		justify-content: space-between;
// 		@media (max-width: $tablet) {
// 			flex-wrap: wrap;
// 			padding: rem(50) rem(0);
// 		}
// 		@media (max-width: $mobile) {
// 			flex-direction: column;
// 			align-items: center;
// 			padding: rem(40) rem(0);
// 		}
// 	}
// 	&__left {
// 		align-self: stretch;
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: space-between;
// 		@media (max-width: $tablet) {
// 			flex: 1 1 100%;
// 			align-items: center;
// 			justify-content: center;
// 			margin-bottom: rem(40);
// 		}
// 	}
// 	&__link {
// 		font-size: rem(16);
// 		font-weight: 400;
// 	}
// 	&__logo {
// 		width: rem(220);
// 		display: inline-flex;
// 		@media (max-width: $pc) {
// 			width: rem(200);
// 		}
// 		@media (max-width: $tablet) {
// 			justify-content: center;
// 		}
// 		@media (max-width: em(389.98)) {
// 			flex: auto;
// 			width: 100%;
// 		}
// 		img {
// 			width: 100%;
//   			height: auto;
//   			max-width: 192px;
// 		}
// 	}
// 	&__contacts {
// 	}
// 	&__right {
// 	}
// }

// .contact-footer {
// 	@media (max-width: $mobile) {
// 		margin-bottom: rem(40);
// 	}
// 	&__label {
// 		@media (max-width: $tablet) {
// 			font-size: rem(22);
// 		}
// 		@media (max-width: $mobile) {
// 			text-align: center;
// 			font-size: rem(20);
// 		}
// 		&:not(:last-child) {
// 			margin-bottom: rem(15);
// 			@media (max-width: $mobile) {
// 				margin-bottom: rem(20);
// 			}
// 		}
// 	}
// 	&__list {
// 		&:not(:last-child) {
// 			margin-bottom: rem(30);
// 		}
// 	}
// 	&__item {
// 		&:not(:last-child) {
// 			margin-bottom: rem(25);
// 			@media (max-width: $mobile) {
// 				margin-bottom: rem(20);
// 			}
// 		}
// 	}
// 	&__link {
// 		font-size: rem(20);
// 		display: inline-flex;
// 		align-items: center;
// 		transition: color 0.3s ease 0s;
// 		@media (max-width: $tablet) {
// 			font-size: rem(18);
// 		}
// 		@media (max-width: $mobile) {
// 			font-size: rem(16);
// 		}
// 		@media (any-hover: hover) {
// 			&:hover {
// 				color: #6fbe3e;
// 			}
// 		}
// 		&::before {
// 			content: "";
// 			flex: 0 0 rem(30);
// 			width: rem(30);
// 			height: rem(30);
// 			margin-right: rem(13);
// 			background: url("@img/icons/socials/phone.svg") 50% / 100% no-repeat;
// 			@media (max-width: $mobile) {
// 				flex: 0 0 rem(28);
// 				width: rem(28);
// 				height: rem(28);
// 			}
// 		}
// 		&_phone {
// 		}
// 		&_mail {
// 			&::before {
// 				height: rem(28);
// 				background-image: url("@img/icons/socials/mail.svg");
// 				@media (max-width: $mobile) {
// 					height: rem(26);
// 				}
// 			}
// 		}
// 	}
// 	&__socials {
// 		display: flex;
// 		align-items: center;
// 		@media (max-width: $mobile) {
// 			justify-content: center;
// 		}
// 	}
// 	&__social {
// 		display: inline-flex;
// 		&:not(:last-child) {
// 			margin-right: rem(30);
// 		}
// 	}
// 	&__social-link {
// 	}
// }

// .right-footer {
// 	@media (min-width: $mobile) {
// 		flex: 0 0 rem(280);
// 	}
// 	@media (max-width: $mobile) {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 	}
// 	&__label {
// 		@media (max-width: $mobile) {
// 			text-align: center;
// 		}
// 		&:not(:last-child) {
// 			margin-bottom: rem(15);
// 			@media (max-width: $mobile) {
// 				margin-bottom: rem(20);
// 			}
// 		}
// 	}
// 	&__socials {
// 		display: flex;
// 		align-items: center;
// 		@media (max-width: $mobile) {
// 			justify-content: center;
// 		}
// 		&:not(:last-child) {
// 			margin-bottom: rem(20);
// 		}
// 	}
// 	&__social {
// 		display: inline-flex;
// 		&:not(:last-child) {
// 			margin-right: rem(30);
// 		}
// 	}
// 	&__social-link {
// 		font-size: 0;
// 		svg {
// 			path {
// 				transition: fill 0.3s ease 0s;
// 			}
// 		}
// 		@media (any-hover: hover) {
// 			&:hover {
// 				svg {
// 					path {
// 						fill: #6fbe3e;
// 					}
// 				}
// 			}
// 		}
// 	}

// 	&__docs {
// 		display: flex;
// 		flex-direction: column;
// 		margin-bottom: rem(10);


// 		@media (max-width: $mobile) {
// 			justify-content: center;
// 			align-items: center;
// 			margin-bottom: rem(20);
// 		}
// 	}

// 	&__link {
// 		font-size: rem(20);
// 		display: inline-flex;
// 		align-items: center;
// 		transition: color 0.3s ease 0s;
// 		@media (max-width: $tablet) {
// 			font-size: rem(18);
// 		}
// 		@media (max-width: $mobile) {
// 			font-size: rem(16);
// 		}
// 		@media (any-hover: hover) {
// 			&:hover {
// 				color: #6fbe3e;
// 			}
// 		}
		
// 		&:not(:last-child) {
// 			margin-bottom: rem(10);
// 		}
// 	}

// 	&__copy {
// 		font-size: rem(16);
// 		font-weight: 400;
// 		display: inline-block;
// 		@media (max-width: $tablet) {
// 			margin-bottom: rem(30);
// 		}
// 	}
	
// }

// .footer {
//   display: flex;
//   align-items: flex-start;
//   background: var(--footer-bg-color, rgb(65, 70, 72));

//   position: relative;
//   z-index: 10;
//   .footer-container {
//     display: flex;
//     align-items: center;
//     width: 100%;
//     position: relative;

//     padding: 15px 50px;
//     justify-content: space-between;

//     @media (max-width: 1279px) {
//       flex-wrap: wrap;
//       gap: 16px 0;
//       padding: 25px 50px;

//       width: calc(100% - 100px);
//     }

//     @media (max-width: 719px) {
//       justify-content: center;
//       flex-wrap: unset;
//       flex-direction: column;
//       gap: 40px;
//     }

//     .footer-frog-svg {
//       position: absolute;
//       bottom: 5px;
//       right: 60px;

//       @media (max-width: 719px) {
//         display: none;
//       }
//     }

//     .footer-copyright {
//       color: var(--colors-white, rgb(255, 255, 255));
//       opacity: 0.3;
//       font-size: 16px;
//       line-height: 24px;
//       text-align: left;
//       text-wrap: nowrap;
//     }

//     .footer-copyright-mobile {
//       display: none;

//       @media (max-width: 1279px) {
//         margin-top: 20px;
//         display: block;
//         text-align: center;
//         width: 100%;
//         order: 5;
//       }

//       @media (max-width: 719px) {
//         margin-top: unset;
//         width: unset;
//       }
//     }

//     .footer-container-row {
//       display: flex;
//       align-items: center;
//       align-self: stretch;
//       flex-direction: column;
//       justify-content: center;

//       flex: 0 0 16%;

//       @media (max-width: 1279px) {
//         flex: 0 0 calc(50%);
//       }

//       @media (max-width: 719px) {
//         flex: unset;
//       }

//       &.logo {
//         align-items: flex-start;
//         gap: 36px;
//         -webkit-user-select: none;
//         -moz-user-select: none;
//         -ms-user-select: none;
//         user-select: none;

//         @media (max-width: 1279px) {
//           // order: 3;
//           justify-content: flex-start;

//           .footer-copyright {
//             display: none;
//           }
//         }

//         @media (max-width: 719px) {
//           order: unset;
//           align-items: center;
//         }

//         .footer-left {
//           display: flex;
//           gap: 15px;
//           align-items: center;
//           color: var(--colors-white, rgb(255, 255, 255));
//           font-size: 24px;
//           font-weight: 600;
//           line-height: 36px;
//           text-align: left;

//           @media (max-width: 719px) {
//             flex-direction: column;
//             justify-content: center;
//             font-size: 16px;
//             line-height: unset;
//           }

//           .footer-logo {
//             width: 70px;
//             height: 52px;
//             -o-object-fit: contain;
//             object-fit: contain;
//           }
//         }
//       }

//       &.navigate {
//         flex-direction: unset;
//         align-self: unset;
//         -webkit-user-select: none;
//         -moz-user-select: none;
//         -ms-user-select: none;
//         user-select: none;

//         @media (max-width: 1279px) {
//           order: 2;
//         }

//         @media (max-width: 719px) {
//           display: none;
//         }

//         .footer-right {
//           display: flex;
//           width: 100%;

//           .footer__ul {
//             display: flex;
//             gap: 20px;

//             div {
//               display: flex;
//               flex-direction: column;
//               gap: 20px;
//             }

//             .footer__list {
//               display: flex;
//               text-wrap: nowrap;
//               min-width: 50px;
//               flex: 1 1 25%;

//               .footer__link {
//                 font-size: 16px;
//                 color: var(--colors-white, rgb(255, 255, 255));
//                 font-weight: 500;
//                 line-height: 24px;
//                 text-align: left;
//                 width: 100%;
//                 transition: all 0.3s ease;

//                 &:hover {
//                   color: var(--link-hover, rgb(129, 189, 82));
//                 }
//               }
//             }
//           }
//         }
//       }

//       &.contacts {
//         gap: 16px;
//         align-items: flex-start;

//         @media (max-width: 1279px) {
//           order: 3;
//         }

//         @media (max-width: 719px) {
//           align-items: center;
//         }

//         .container-row-header {
//           color: var(--colors-white, rgb(255, 255, 255));
//           font-size: 18px;
//           line-height: 128%;
//           text-align: left;

//           @media (max-width: 719px) {
//             text-align: center;
//           }
//         }

//         .footer__phone-details {
//           display: flex;
//           flex-direction: column;
//           gap: 20px;

//           .footer__contact-span {
//             display: flex;
//             gap: 16px;
//             align-items: center;
//             text-wrap: nowrap;
//             flex-wrap: nowrap;

//             @media (max-width: 719px) {
//               justify-content: center;
//             }

//             .footer__contact-link {
//               color: var(--colors-white, rgb(255, 255, 255));
//               font-size: 18px;
//               font-weight: 400;
//               line-height: 27px;
//               text-align: center;
//               text-wrap: nowrap;
//               transition: all 0.3s ease;

//               &:hover {
//                 color: var(--link-hover, rgb(129, 189, 82));
//               }
//             }
//           }
//         }
//       }

//       &.socials {
//         gap: 20px;
//         align-items: flex-start;

//         @media (max-width: 1279px) {
//           order: 4;
//         }

//         @media (max-width: 719px) {
//           align-items: center;
//         }

//         .container-row-messengers {
//           display: flex;
//           gap: 12px;
//           flex-direction: column;

//           .row-messengers-header {
//             -webkit-user-select: none;
//             -moz-user-select: none;
//             -ms-user-select: none;
//             user-select: none;
//             color: var(--colors-white, rgb(255, 255, 255));
//             font-family: Poppins;
//             font-size: 18px;
//             line-height: 27px;
//             text-align: left;

//             @media (max-width: 719px) {
//               text-align: center;
//             }
//           }

//           .row-messengers {
//             display: flex;
//             gap: 30px;
//             align-items: center;

//             a {
//               display: flex;
//               align-items: center;
//               justify-content: center;
//             }
//           }

//           .messengers__link {
//             svg {
//               path {
//                 opacity: 1;
//                 transition: all 0.3s ease;
//               }
//             }
//             &:hover {
//               svg {
//                 path {
//                   opacity: 0.6;
//                 }
//               }
//             }
//           }

//           &.social {
//             .messengers__link {
//               &:hover {
//                 svg {
//                   path {
//                     fill: var(--link-hover, rgb(129, 189, 82));
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

.footer {
	position: relative;
	z-index: 10;
	background: #101010;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: url("@img/bgs/footer.png") 50% 0 / cover no-repeat;
		mix-blend-mode: lighten;
		z-index: -1;
		height: 100%;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		padding: rem(15) rem(50);
		justify-content: space-between;

		@media (max-width: 1279px) {
			flex-wrap: wrap;
			gap: rem(16) 0;
			padding: rem(25) rem(50);
		}

		@media (max-width: 719px) {
			justify-content: center;
			flex-wrap: unset;
			flex-direction: column;
			gap: 40px;
		}
	}

	&_row {
		display: flex;
		align-items: center;
		align-self: stretch;
		flex-direction: column;
		// justify-content: center;

		flex: 0 0 16%;

		@media (max-width: 1279px) {
			flex: 0 0 calc(50%);
		}

		@media (max-width: 719px) {
			flex: unset;
		}
	}

	&__copyright-mobile {
		color: #fff;
		opacity: 0.3;
		font-size: 16px;
		line-height: 24px;
		text-align: left;
		text-wrap: nowrap;

		display: none;

		@media (max-width: 1279px) {
			margin-top: 20px;
			display: block;
			text-align: center;
			width: 100%;
			order: 5;
		}

		@media (max-width: 719px) {
			margin-top: unset;
			width: unset;
		}
	}
}

.footer-left {
    align-items: flex-start;
    gap: rem(36);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media (max-width: 1279px) {
        // order: 3;
        justify-content: flex-start;
    }

    @media (max-width: 719px) {
        order: unset;
        align-items: center;
    }

	&__logo {
		width: rem(220);
		display: inline-flex;

		@media (max-width: $pc) {
			width: rem(200);
		}

		@media (max-width: $tablet) {
			justify-content: center;
		}

		@media (max-width: em(389.98)) {
			flex: auto;
			width: 100%;
		}

		img {
			width: 100%;
  			height: auto;
  			max-width: 192px;
		}
	}

	&__copyright {
		color: #fff;
		opacity: 0.3;
		font-size: 16px;
		line-height: 24px;
		text-align: left;
		text-wrap: nowrap;
		
		@media (max-width: 1279px) {
			display: none;
		}
    }

	&__docs {
		display: flex;
		flex-direction: column;
		gap: rem(13);
		flex-wrap: wrap;

		&_top {
			display: flex;
			align-items: center;
			gap: rem(13);
		}
	}

	&__link {
		white-space: nowrap; 
  		display: inline-block;
		font-size: 16px;
        color: #fff;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        width: 100%;
        transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #6fbe3e;
			}
		}
	}
}

.footer-contacts {
	gap: rem(16);
    align-items: flex-start;

    @media (max-width: 1279px) {
        order: 3;
    }

    @media (max-width: 719px) {
        align-items: center;
    }
	
	&__header {
        color: #fff;
        font-size: rem(18);
        line-height: 128%;
        text-align: left;

        @media (max-width: 719px) {
        	text-align: center;
        }
	}

	&__list {
		display: flex;
        flex-direction: column;
        gap: 20px;
	}

	&__item {
		display: flex;
        gap: 16px;
        align-items: center;
        text-wrap: nowrap;
        flex-wrap: nowrap;

        @media (max-width: 719px) {
            justify-content: center;
        }
	}

	&__link {
		color: var(--colors-white, rgb(255, 255, 255));
        font-size: rem(18);
        font-weight: 400;
        line-height: 27px;
    	text-align: center;
        text-wrap: nowrap;
        transition: all 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: #6fbe3e;
			}
		}
	}
}

.footer-socials {
	gap: rem(20);
    align-items: flex-start;

	@media (max-width: 1279px) {
        order: 4;
    }

    @media (max-width: 719px) {
        align-items: center;
    }


	&__header {
		-webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #fff;
        font-size: rem(18);
        line-height: 27px;
        text-align: left;
		white-space: nowrap;

        @media (max-width: 719px) {
        	text-align: center;
        }
	}

	&__socials {
		display: flex;
    	gap: rem(12);
    	flex-direction: column;

		@media (max-width: 1279px) {
			order: 3;
		}

		@media (max-width: 719px) {
			align-items: center;
		}
	}

	&__messengers {
		display: flex;
    	gap: rem(12);
    	flex-direction: column;

		@media (max-width: 1279px) {
			order: 3;
		}

		@media (max-width: 719px) {
			align-items: center;
		}
	}

	&__list {
		display: flex;
        gap: 30px;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
	}

	&__item {
		svg {
            path {
            	opacity: 1;
                transition: all 0.3s ease;
              }
        }

		@media (any-hover: hover) {
			&:hover {
				svg {
					path {
						opacity: 0.6;
						fill:#81bd52;		
					}
				}
			}
		}

	}
}