.footer {
	position: relative;
	z-index: 10;
	background: #101010;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: url("@img/bgs/footer.png") 50% 0 / cover no-repeat;
		mix-blend-mode: lighten;
		z-index: -1;
		height: 100%;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		padding: rem(15) rem(50);
		justify-content: space-between;

		@media (max-width: 1279px) {
			flex-wrap: wrap;
			gap: rem(16) 0;
			padding: rem(25) rem(50);
		}

		@media (max-width: 719px) {
			justify-content: center;
			flex-wrap: unset;
			flex-direction: column;
			gap: 40px;
		}
	}

	&_row {
		display: flex;
		align-items: center;
		align-self: stretch;
		flex-direction: column;
		// justify-content: center;

		flex: 0 0 16%;

		@media (max-width: 1279px) {
			flex: 0 0 calc(50%);
		}

		@media (max-width: 719px) {
			flex: unset;
		}
	}

	&__copyright-mobile {
		color: #fff;
		opacity: 0.3;
		font-size: 16px;
		line-height: 24px;
		text-align: left;
		text-wrap: nowrap;

		display: none;

		@media (max-width: 1279px) {
			margin-top: 20px;
			display: block;
			text-align: center;
			width: 100%;
			order: 5;
		}

		@media (max-width: 719px) {
			margin-top: unset;
			width: unset;
		}
	}
}

.footer-left {
    align-items: flex-start;
    gap: rem(36);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media (max-width: 1279px) {
        // order: 3;
        justify-content: flex-start;
    }

    @media (max-width: 719px) {
        order: unset;
        align-items: center;
    }

	&__logo {
		width: rem(220);
		display: inline-flex;

		@media (max-width: $pc) {
			width: rem(200);
		}

		@media (max-width: $tablet) {
			justify-content: center;
		}

		@media (max-width: em(389.98)) {
			flex: auto;
			width: 100%;
		}

		img {
			width: 100%;
  			height: auto;
  			max-width: 192px;
		}
	}

	&__copyright {
		color: #fff;
		opacity: 0.3;
		font-size: 16px;
		line-height: 24px;
		text-align: left;
		text-wrap: nowrap;
		
		@media (max-width: 1279px) {
			display: none;
		}
    }

	&__docs {
		display: flex;
		flex-direction: column;
		gap: rem(13);
		flex-wrap: wrap;

		&_top {
			display: flex;
			align-items: center;
			gap: rem(13);
		}
	}

	&__link {
		white-space: nowrap; 
  		display: inline-block;
		font-size: 16px;
        color: #fff;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        width: 100%;
        transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #6fbe3e;
			}
		}
	}
}

.footer-contacts {
	gap: rem(16);
    align-items: flex-start;

    @media (max-width: 1279px) {
        order: 3;
    }

    @media (max-width: 719px) {
        align-items: center;
    }
	
	&__header {
        color: #fff;
        font-size: rem(18);
        line-height: 128%;
        text-align: left;

        @media (max-width: 719px) {
        	text-align: center;
        }
	}

	&__list {
		display: flex;
        flex-direction: column;
        gap: 20px;
	}

	&__item {
		display: flex;
        gap: 16px;
        align-items: center;
        text-wrap: nowrap;
        flex-wrap: nowrap;

        @media (max-width: 719px) {
            justify-content: center;
        }
	}

	&__link {
		color: var(--colors-white, rgb(255, 255, 255));
        font-size: rem(18);
        font-weight: 400;
        line-height: 27px;
    	text-align: center;
        text-wrap: nowrap;
        transition: all 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: #6fbe3e;
			}
		}
	}
}

.footer-socials {
	gap: rem(20);
    align-items: flex-start;

	@media (max-width: 1279px) {
        order: 4;
    }

    @media (max-width: 719px) {
        align-items: center;
    }


	&__header {
		-webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #fff;
        font-size: rem(18);
        line-height: 27px;
        text-align: left;
		white-space: nowrap;

        @media (max-width: 719px) {
        	text-align: center;
        }
	}

	&__socials {
		display: flex;
    	gap: rem(12);
    	flex-direction: column;

		@media (max-width: 1279px) {
			order: 3;
		}

		@media (max-width: 719px) {
			align-items: center;
		}
	}

	&__messengers {
		display: flex;
    	gap: rem(12);
    	flex-direction: column;

		@media (max-width: 1279px) {
			order: 3;
		}

		@media (max-width: 719px) {
			align-items: center;
		}
	}

	&__list {
		display: flex;
        gap: 30px;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
	}

	&__item {
		svg {
            path {
            	opacity: 1;
                transition: all 0.3s ease;
              }
        }

		@media (any-hover: hover) {
			&:hover {
				svg {
					path {
						opacity: 0.6;
						fill:#81bd52;		
					}
				}
			}
		}

	}
}